@using Oficina.AspNet;
@{
    var _veiculoAplicacao = new VeiculoAplicacao();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de veículos</title>
</head>
<body>
    <h1>  Cadastro de Veículos  </h1>
    <hr />
    <form>
        <label for="marca"> Marca</label>
        <select id="marca" onchange="obterModelos(this.value)">
            <option value="">Selecione</option>
            @foreach (var marca in _veiculoAplicacao.Marcas)
            {
                <option value="@marca.Id">@marca.Nome</option>
            }
        </select>
        <br />

        <label for="modelo"> Modelo</label>
        <select id="modelo">
            <option value="">Selecione</option>
            @foreach (var modelo in _veiculoAplicacao.Modelos)
            {
                <option value="@modelo.Id">@modelo.Nome</option>
            }
        </select>
        <br />

    </form>
    <script type="text/javascript">
        function obterModelos(marcaId) {
            document.location.href = "Veiculo?marcaId=" + marcaId;

        }

    </script>
</body>
</html>
