@model Loja.Mvc.Models.ProdutoViewModel

@{
    ViewBag.Title = "Create";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("~/Views/Produtos/_ProdutoForm.cshtml", Model)


<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/produtos/produto.js"></script>
}
