@model Loja.Mvc.Models.ProdutoViewModel



<h2>@ViewBag.Title</h2>

@Html.Partial("~/Views/Produtos/_ProdutoForm.cshtml", Model)


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
